# assume torch is already installed

git+https://github.com/JasonLSC/pycolmap.git
git+https://github.com/fraunhoferhhi/PLAS.git
numpy<1.26
scikit-learn
tqdm
torchmetrics[image]<1.5
opencv-python
tyro
tensorboard
pyyaml
matplotlib
plyfile
imagecodecs
gsplat==1.5.2
pandas
imageio[ffmpeg]